body {
  /* font-family: serif; */
  font-family: cursive;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
.button {
  margin-left: 200px;
  width: 200px;
  height: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(50, 145, 253);
  font-size: 16px;
  border: none;
}
.button:hover {
  background-color: rgb(93, 173, 253);
}

.qa-container {
  width: 800px;
  margin-left: 400px;
}
